/* =================================
  Base Element Styles
==================================== */


body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
	color: #093a58;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
}

.name a,
.main-nav a {
	width: 100%;
	display: inline-block;
	text-align: center;
}

.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

.main-nav li {
	margin: 20px 0;
}

/* ---- Layout Containers ---- */

.main-header {
	width: 100%;
}

.banner {
  text-align: center;
	color: #fff;
	background: #3acec2;
	padding: 35px 0;
	width: 100%;
}

.main-footer {
  text-align: center;
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
	width: 100%;
}

.col {
	vertical-align: top;
	margin-top: 50px;
	display: inline-block;
	padding: 0 15px;
}

.content-wrap{
	margin-top: 30px;
}

/* ---- Page Elements ---- */

.logo {
	margin: auto;
	width: 190px;
}

.headline {
	margin-bottom: 0;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {

.content-wrap {
	margin: 0 auto;
	width: 90%;
}

.main-nav {
	float: right;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

.main-nav li{
	float: left;
}

.name a,
.main-nav a {
	width: 100%;
	padding: 15px 20px;

}

.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

.name,
.col {
	box-sizing: border-box;
	float: left;
}

.primary,
.secondary {
	width: 50%;
}


.tagline{
	font-size: 1.2em;
	}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 1025px) {

.content-wrap {
	width: 80%;
	max-width: 1150px
}

.secondary,
.tertiary {
	width: 30%;

}

.primary {
	width: 40%;
}


		.clearfix::after {
			content: " ";
			display: table;
		  clear: both;
	}
}
