@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900&display=swap');

  /* =================================
    Base Element Styles
  ==================================== */


body{
  color: #fff;
  line-height: 1.5;
}

h1,li {
  text-align: center;
}

header {
  height: 30%;
  width: 100%;
  background-color: #450019;
}

h2 {
  font-weight: bold;
  letter-spacing: 4px;
}

span {
  margin: 20px 0;
}

p {
  line-height: 1.5;
  color: #111;
  margin: 0 0 10px 0;
}

footer {
  background-color: #ddd;
  text-align: center;
}
  footer p{
    padding: 15px 0;
    margin: 0;
  }

  /* =================================
  Base Layout Styles
  ==================================== */

  /* ---- Navigation ---- */

.header-wrap {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.main-nav {
  font-size: 1em;
  margin: 10px auto;
  padding: 10px 0;
  width: 100%;
  color: #fff;
}
  .main-nav li{
  font-size: 1.2rem;
  padding: 10px 0;
  width: inherit;

  }
    .main-nav li:hover{
      border-radius: 5px;
      padding: 10px 0;
      background-color: #B80044;
    }
  .main-nav a{
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #fff;
  }

  /* ---- About Section  ---- */

#About {
  display: block;
  margin: 0 auto;
  background-color: #870032;
  padding: 30px 0;
}

  #About h3,li {
    text-align: center;
    letter-spacing: 3px;
    padding: 0.5em;
  }
    #About ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      flex-direction: row;
    }

    .about-wrap {
    width: 85%;
    margin: 20px auto;
    }
      .about-wrap p {
      text-align: center;
       line-height: 1.8;
       font-size: 1.15em;
       color: #fff;
      }

.profile-picture {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  margin-top: 2.8em;
}
  .profile-picture img {
    display: block;
    border-radius: 15px;
    box-shadow: 0 5px 10px 1px #450019;
  }

  .profile-picture:hover {
    opacity: 0.9;
  }

  /* ---- Proejects Section  ---- */

#Projects{
  display: block;
  margin: 0 auto;

}
  #Projects h2 {
    font-size: 1.8em;
    font-weight: 800;
    color: #111;
    text-align: center;
    padding: 50px 0;
    margin: 0 auto;
  }

  .card {
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 5px 7px 1px #ccc;
  }
    .card h3 {
      background-color: #870032;
      padding: 15px 0;
      border-radius: 5px 5px 0 0;
    }
      .card h3:hover {
      background-color: #B80044;
    }

  .card p {
    display: inline-block;
    width: 80%;
  }

    .card:active{
      opacity: 0.85;

    }

.project {
  width: 90%;
  background-color: #eee;
  margin: 15px auto;
}
  .project img{
  display: block;
  border-radius: 5px;
  width: 100%;
  }
  /* ---- Skills Section  ---- */
  #Skills{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #870032;
  }
  #Skills h2 {
    font-size: 1.6em;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 20px;
  }

    #Skills p {
      text-align: center;
      color: #fff;
    }
  /* ---- Contact Section  ---- */

#Contact {
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column;
background-color: #870032;
}
  #Contact h2 {
    font-size: 1.6em;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 20px;
  }

    #Contact p {
      text-align: center;
      color: #fff;
    }

    #Contact a {
      font-weight: bold;
    }

  .contact-wrap {
    width: 90%;
    margin-bottom: 50px;
  }

.main-footer {
  display: flex;
  justify-content: space-around;
}
  .main-footer h3 {
    font-size: 0.9rem;
    font-weight: 700;
  }

.footer-nav {
  display: none;
}

.back-to-top {
  font-size: 0.9rem;
  font-weight: 700;
}

  /* =================================
    Media Queries
  ==================================== */

@media (min-width: 768px) {
.header-wrap {
  margin: auto;
}

.main-nav {
  width: 70%;
}

.main-nav ul{
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-direction: row;
}
  .main-nav a {
    font-size: 0.9rem;
  }

#About {
  display: flex;
  flex-direction: row-reverse;
}

.profile-picture {
  width: 40%;
  align-items: start;
}
  .profile-picture img{
    width: 100%;
    margin: 0 30px;
    justify-content: center;
  }

.about-wrap {
  display: inline-block;
  width: 50%;
  padding-bottom: 30px;

}
  .about-wrap p {
    text-align: left;
  }


#Projects {
  display: flex;
  flex-wrap: wrap;
}

  #Projects h2 {
  width: 100%;
  }

.card {
  display: inline-block;
  width: 47%;
}

#Skills ul{
  display: inline-flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}

.contact-wrap {
  width: 60%;
  margin-bottom: 50px;
}
.back-to-top a {
  display: none;
}

.main-footer {
  padding-bottom: 8%;
}

.footer-nav {
  display: flex;
  align-items: center;
  color: #111;
  font-size: .8em;
}
  .footer-nav a {
  font-weight: 700;
}
}


@media (min-width: 1024px) {

.header-wrap {
  flex-direction: row;
}
  .header-wrap h1 {
    text-align: left;
    font-size: 1.4em;
    margin-left: 5%;
    width: 20%;
  }

.main-nav {
  margin-right: 5%;
  width: 50%
}
  .main-nav li {
    justify-content: flex-end;
  }
    .main-nav a {
    font-weight: 700;
    }

#About {
  padding: 0 2%;
}

#Projects {
  width: 90%;
}

.project {
  width: auto;
  margin: 0;
}

.card {
  display: inline-block;
  width: 31%;
}
  .card img {
  border-radius: 0;
  }
}

.main-footer {
  padding: 0;
}
.main-footer h3 {
   padding: 15px 0;
   color: #111;
   font-weight: 700;
}

.footer-nav {
  justify-content: space-between;
  width: 30%;
  margin-right: 2%;
}


  .footer-nav a{
    font-weight: 700;
  }
